@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::selection {
    background: #000000;
    color: #FFF;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #46b6e6;
    transition: 0.5s ease;
}
body.active {
    background: #12545c;
    color: #000;
    transition: 0.5s ease;
}
img {
    user-select: none;
    width: 50%;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.checkbox:checked + .label .ball {
    transform: translateX(32px);
}
.label {
    background: #26a1d6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 50px;
    padding: 5px;
    height: 26px;
    width: 58px;
    cursor: pointer;
}
.label i {
    color: #f6fa00;
}
.label.active {
    background: #18747e;
}
.ball {
    background: #FFF;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    transition: transform 0.2s linear;
}
.container {
    border-radius: 50px;
    background: #50c1f1;
    box-shadow:  20px 20px 60px #16b7fc, -20px -20px 60px #07b1fa;
    color: #000;
    width: 22rem;
    height: 35rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container.active {
    border-radius: 50px;
    background: #0C3E45;
    box-shadow:  20px 20px 60px #0b606b, -20px -20px 60px #187f8d;
    color: #FFF;
}
.container.active i {
    color: #FFF;
}
.calender__icon {
    position: absolute;
    right: 1rem;
    top: 3rem;
    cursor: pointer;
    font-size: 21px;
}
.top__elements {
    padding-top: 3rem;
}
.title {
    font-size: 1.1rem;
    margin-left: 2.6rem;
}
.map__icon {
    font-size: 21px;
    position: absolute;
    left: 10px;
}
.angle__icon {
    margin-left: 10px;
    font-size: 21px;
}
.weather__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.temp__description {
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -30px;
}
.temp__value {
    text-align: center;
    font-size: 2.8rem;
    cursor: pointer;
    position: relative;
    top: -30px;
}
.information {
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    top: -30px;
}
.search__input {
    position: absolute;
    top: 15rem;
    right: 2rem;
    background: #19baff;
    max-width: 450px;
    border-radius: 5px;
    margin: 150px auto;
    box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.12);
}
.search__input.active {
    background: #07b1fa;
}
.search__input.active li:hover {
    background: #0894cf;
}
.search__input input {
    width: 100%;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 16px;
    box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.1);
    background: #40bdf3;
    color: #000;
}
#input.active {
    background: #0b454d;
    color: #FFF;
}
#input.active::placeholder {
    color: #FFF;
}
.search__input input::placeholder {
    color: #000;
}
.search__input .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 22px;
    color: #000;
    cursor: pointer;
}
.search__input .autosuggest__box {
    padding: 0;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}
.search__input.active .autosuggest__box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.autosuggest__box li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}
.autosuggest__box.active {
    background: #03333a;
}
.autosuggest__box.active li:hover {
    background: #12545c;
}
.search__input.active .autosuggest__box li {
    display: block;
}
